@import url("//fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700");
@import url("//fonts.googleapis.com/css?family=Playfair+Display:400,400italic|Radley");

.contact-icon { width: 60px; }
.ward-map-container, .ward-map { width: 100%; height: 350px; }
iframe { width: 100%; height: 2000px; border: none; }
/* NProgress color override */
/*#nprogress .bar, #nprogress .spinner { margin-top: 45px; }*/
#nprogress .bar { background: #D2AD1B; }
#nprogress .peg { box-shadow: 0 0 10px #D2AD1B, 0 0 5px #D2AD1B; }
#nprogress .spinner-icon { border-top-color: #D2AD1B; border-left-color: #D2AD1B; }

/* Fix a weird foundation bug with this bower version */
.top-bar-section ul li > a { padding-left: 0.9375rem; }

/* Breadcrumbs margin */
.breadcrumbs { margin-top: 10px; }
.city-map .breadcrumbs { margin-top: 0; }

svg { /* width: 100%; */ }

/* Intro hero */
.intro {
     width: 100%;
     height: 1000px;
     padding: 30px 5px;
     background: #04576F;
     color: #fff;
     position: absolute;
     top: 0;
     bottom: 0;
}
.intro h1 {
     font-weight: 500;
     color: #fff;
}
.intro h1.show-for-small {
     font-size: 9vw;
}
.intro p {
     font-weight: 300;
}
.intro .intro-detail {
     opacity: 0.7;
}
.intro p .has-tip { color: inherit; }

dl {
    font-family: 'Playfair Display';
    font-size: 18;
    font-weight: 400;
}
dt {
    font-family: Montserrat;
    font-size: 4!important;
    text-transform: uppercase;
    font-weight: 400;
}
.dd-note {
     font-size: 80%;
     color: #aaa;
     text-transform: uppercase;
     display: block;
}
.ward-ordinal {
    font-family: Montserrat;
    font-size: 5!important;
    color: #2284a1;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 75%;
}

/* Committee Persons */
.committee-persons-container {
     text-transform: capitalize;
}
.committee-persons-container .panel {
     position: relative;
}
.committee-persons-container .panel header {
     font-weight: bold;
}
.committee-persons-container .panel .logo {
     position: absolute;
     top: 0;
     right: 5px;
     font-size: 300%;
     opacity: 0.3;
}

/* Footer */
footer {
     font-size: 80%;
     text-align: center;
}
.intro footer a {
     color: #fff;
     text-decoration: underline;
}
footer img {
     height: 20px;
     margin-bottom: 2px;
}

/*thumbnail {
    padding: 10px 0px 10px;
}*/
.top-bar { z-index: 1; }
.top-bar, .top-bar-section ul, .top-bar-section li a:not(.button) { background-color: #2284a1 !important; }

/* Top bar active/hover */
.top-bar-section ul li.active > a,
.top-bar-section li:hover a,
.top-bar-section ul li:hover > a,
.top-bar-section ul.dropdown li a:hover:not(.button),
.top-bar.expanded .title-area,
.top-bar-section ul.dropdown {
     background-color: #2ba6cb;
}

.icon-bar { background-color: #04576F; }

/* Decrease button group padding on mobile */
@media only screen and (max-width: 40em) {
     .button-group li a {
          padding: 15px;
          margin: 0;
          font-size: 80%;
     }
}

/* Override top bar widths to support mobile */
.top-bar .name h1 a { width: auto; }

/* Map full height */
#main, .city-map-container {
     position: absolute;
     top: 31px;
     bottom: 0;
     left: 0;
     right: 0;
}
#main { top: 45px; }

/* Leaflet popup */
.leaflet-popup-content {
     text-align: center;
}
.leaflet-popup-content header {
     font-weight: bold;
     font-size: 120%;
}
.leaflet-popup-content .button {
     color: #fff;
     margin-top: 5px;
     margin-bottom: 0;
}
.leaflet-popup-content .party {
     font-weight: bold;
}
.leaflet-popup-content .party:before {
     content: '(';
}
.leaflet-popup-content .party:after {
     content: ')';
}

/* Leaflet address search */
.leaflet-container .leaflet-control-geosearch input {
     background-color: rgba(255, 255, 255, 0.90);
}

/* Error links */
.unknown {
     font-size: 80%;
     color: #aaa;
     text-transform: uppercase;
}
.error-link { font-size: 80%; }
.error-link-bottom {
     font-size: 80%;
     text-align: center;
     color: #a0a0a0;
}


.flip-container {
	perspective: 1000;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
}
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
	}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;

	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;

	position: relative;
	margin: 0 30px;
}

.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.back {
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

/* Stats */
.stats {
     padding: 25px 25px;

     /* -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75); */
     /*-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);*/
     /* box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75); */
     /* position: relative; */
}
.stats h3 {
     font-size: 120%;
}
.stats h3 .ward-ordinal {
     display: block;
}
.stats dt, .card .stats dd {
     margin-bottom: 0;
     float: left;
}
.stats dt { width: 60%; overflow: hidden; }
.stats .button { margin-top: 15px; position: static; }
