<!DOCTYPE html>

<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>Philly Ward Leaders</title>

  <link rel="stylesheet" href="bower_components/bower-foundation/css/foundation.min.css">
  <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css">
  <link rel="stylesheet" href="bower_components/nprogress/nprogress.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="container">
     <div class="row">
          <div class="medium-12 columns">
               <h1>Philly Ward Leaders</h1>
               <p>Lauren ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod porttitor nisl nec tincidunt. Duis lacinia mauris vel placerat ornare. Sed vitae consequat ante. Etiam sed enim in dolor eleifend molestie. Aliquam ultricies consectetur turpis vel pharetra. Nunc tellus turpis, imperdiet hendrerit felis eu, pellentesque convallis ex. Suspendisse nisi ipsum, vehicula nec velit nec, gravida gravida nisi. Proin rutrum convallis lacus, ut gravida elit pellentesque in. Ut accumsan justo suscipit tellus placerat interdum.</p>
          </div>
     </div>
     <div class="row">
          <div class="small-12 columns" id="main"></div>
     </div>
  </div>
  
  <script type="text/template" id="tmpl-top-leaders">
     <h2>Top Ward Leaders</h2>
     <ul class="button-group round">
          <li><a href="#" class="button<%= data.filter === 'voters' ? ' active' : '' %>" data-filter="voters">By Voters</a></li>
          <li><a href="#" class="button<%= data.filter === 'turnout' ? ' active' : '' %>" data-filter="turnout">By Turnout</a></li>
          <li><a href="#" class="button<%= data.filter === 'vacancies' ? ' active' : '' %>" data-filter="vacancies">By Vacancies</a></li>
     </ul>
     <div id="leaders"></div>
  </script>
  
  <script type="text/template" id="tmpl-top-leaders-item">
     <div class="leader-card">
          <a class="th radius thumbnail" role="button" aria-label="Thumbnail" href="<%= data.avatar %>">
               <img aria-hidden=true src="<%= data.avatar %>"/>
          </a>
          <h3><a href="#" data-ward="<%= data.Ward %>"><%= data.Name %></a></h3>
          <h4><%= data.wardOrdinal %> Ward</h4>
          <dl>
               <dt>Registered Voters</dt>
               <dd><%= data['Total Registered'].toLocaleString() %></dd>
               
               <dt>Turnout (Last Election)</dt>
               <dd><%= data['Turnout 2014 General'].toLocaleString() %></dd>
               
               <dt>Committee Person Vacancies</dt>
               <dd><%= data['vacancies'].toLocaleString() %></dd>
          </dl>
     </div>
  </script>
  
  <script type="text/template" id="tmpl-details">
          <a href="#" class="button back">Back</a>
  
          <a class="th radius thumbnail" role="button" aria-label="Thumbnail" href="<%= data.avatar %>">
               <img aria-hidden=true src="<%= data.avatar %>"/>
          </a>
          <h3><a href="#" data-ward="<%= data.Ward %>"><%= data.Name %></a></h3>
          <h4><%= data.wardOrdinal %> Ward</h4>
          <dl>
               <dt>Total Registered</dt>
               <dd><%= data['Democrats Registered'].toLocaleString() %> Democrats of <%= data['Total Registered'].toLocaleString() %></dd>
               
               <dt>Turnout (Last Election)</dt>
               <dd><%= data['Turnout 2014 General'].toLocaleString() %></dd>
               
               <dt>Committee Person Vacancies</dt>
               <dd><%= data['vacancies'].toLocaleString() %></dd>
               
               <dt>Address</dt>
               <dd><%= data['Address'] %></dd>
               
               <dt>Phones</dt>
               <dd><%= data['Phones'] %></dd>
               
               <dt>Age</dt>
               <dd><%= new Date().getFullYear() - data['Year of Birth'] %></dd>
               
               <dt>Gender</dt>
               <dd><%= data['Gender'] === 'F' ? 'Female' : data['Gender'] === 'M' ? 'Male' : 'Unknown' %></dd>
               
               <dt>Last Voted</dt>
               <dd><%= data['Last Voted'] %></dd>
               
               <% if(data['Occupation']) { %>
               <dt>Occupation</dt>
               <dd><%= data['Occupation'] %></dd>
               <% } %>
               
               <% if(data['Email']) { %>
               <dt>Email</dt>
               <dd><a href="mailto:<%= data['Email'] %>" target="_blank"><img src="img/email.png" class="contact"></a></dd>
               <% } %>
               
               <% if(data['LinkedIn']) { %>
               <dt>LinkedIn</dt>
               <dd><a href="<%= data['LinkedIn'] %>" target="_blank"><img src="img/linkedin.png" class="contact"></a></dd>
               <% } %>
               
               <% if(data['Facebook']) { %>
               <dt>Facebook</dt>
               <dd><a href="<%= data['Facebook'] %>" target="_blank"><img src="img/facebook.png" class="contact"></a></dd>
               <% } %>
               
               <% if(data['Twitter']) { %>
               <dt>Twitter</dt>
               <dd><a href="<%= data['Twitter'] %>" target="_blank"><img src="img/twitter.png" class="contact"></a></dd>
               <% } %>
          </dl>
          <div class="ward-map-container"></div>
  </script>

  <!-- Initialize JS Plugins -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="bower_components/marionette/lib/backbone.marionette.min.js"></script>
  <script src="bower_components/tabletop/src/backbone.tabletopSync.js"></script>
  <script src="bower_components/tabletop/src/tabletop.js"></script>
  <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="//cdn-geoweb.s3.amazonaws.com/esri-leaflet/1.0.0-rc.6/esri-leaflet.js"></script>
  <script src="bower_components/nprogress/nprogress.js"></script>
  <script src="js/main.js"></script>
</body>
</html>