<div class="row">
     <div class="small-12 columns">
          <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
               <a href="#">Home</a>
               <a class="current" href="#about">About</a>
          </nav>
     </div>
</div>
<div class="row">
     <div class="small-12 columns">
          <h1>About the Project</h1>
          This project was built in March 2015 at a weekend hackathon called <a href="http://appsforphilly.org/events/democracy-2015" target="_blank">Apps for Democracy</a>.
          It's not affiliated with any political party or faction; rather, its purpose is simply transparency.

          <h2>What's Next</h2>
          We'd love to add more data and features to this site. We've thought of <a href="https://github.com/timwis/philly-ward-leaders/labels/enhancement" target="_blank">a few ideas</a>
          but we'd love to hear yours. Tell us!

          <h2>Contributing</h2>
          There's always room on the team. We can use help in several ways
          <ul>
            <li><b>Research</b> - Searching google for photos, contact info, news stories, and anything else interesting, and then adding them to a <a href="https://docs.google.com/spreadsheets/d/1nkkFQUaxcGa0oDPWl1Vr1cknToIq8FxfJ7CILQrFgBM/edit?usp=sharing" target="_blank">spreadsheet</a></li>
            <li><b>Writing</b> - How can we best explain the ward and committee system to the general public?</li>
            <li><b>Data Analysis</b> - There's <a href="https://www.opendataphilly.org/" target="_blank"> a lot of data out there</a>. Some of it just needs some basic extracting/analysis to be added to the app.</li>
            <li><b>Design</b> - How can we improve the user experience of the site?</li>
            <li><b>Development</b> - Adding features and functionality requires front-end coding</li>
          </ul>

          Join us at the weekly <a href="https://codeforphilly.org/" target="_blank">Code for Philly</a> meetup, dive into the
          <a href="https://github.com/timwis/philly-ward-leaders" target="_blank">source code</a>, or join the conversation around
          <a href="https://github.com/timwis/philly-ward-leaders/issues" target="_blank">pending issues</a>.

          <h2>The Team</h2>
          <ul>
            <li><a href="http://davewalk.net" target="_blank">Dave Walk</a></li>
            <li><a href="http://laurenancona.com" target="_blank">Lauren Ancona</a></li>
            <li><a href="https://twitter.com/technologyriff" target="_blank">Morgan Riffer</a></li>
            <li><a href="https://twitter.com/skeegenin" target="_blank">Nicholas Stanley</a></li>
            <li><a href="https://twitter.com/sophiannagirl" target="_blank">Sophia Shapira</a></li>
            <li><a href="http://timwis.com" target="_blank">Tim Wisniewski</a></li>
            <li><a href="http://zacharyrendin.com/" target="_blank">Zach Rendin</a></li>
          </ul>

          <h2>Sources</h2>
          We used several official data sources and a lot of research on google for the rest. The combined data was put into a
          <a href="https://docs.google.com/spreadsheets/d/1nkkFQUaxcGa0oDPWl1Vr1cknToIq8FxfJ7CILQrFgBM/edit?usp=sharing" target="_blank">spreadsheet</a>
          that powers this site.
          <ul>
            <li><a href="https://www.seventy.org/tools/ward-leaders-committeepeople/democratic-party" target="_blank">Ward Leader List</a>, Committee of Seventy</li>
            <li><a href="https://www.opendataphilly.org/dataset/voter-turnout" target="_blank">Voter Turnout</a>, City of Philadelphia</li>
            <li><a href="https://www.opendataphilly.org/dataset/elected-committeepeople" target="_blank">Elected Committee People</a>, City of Philadelphia</li>
            <li><a href="https://www.opendataphilly.org/dataset/police-divisions" target="_blank">Division Boundaries</a>, City of Philadelphia</li>
            <li><a href="https://www.opendataphilly.org/dataset/qualified-voter-registry" target="_blank">Qualified Voter Registry</a>, City of Philadelphia</li>
            <li>And lots of googling!</li>
          </ul>
     </div>
</div>
<footer><img src="img/Code-for-Liberty_grey200.png"> A <a href="http://codeforphilly.org" target="_blank">Code for Philly</a> project</footer>
