<div class="row">
     <div class="small-12 columns">
          <h1 class="show-for-small">Philly Ward Leaders</h1>
          <h1 class="hide-for-small">Philly Ward Leaders</h1>
          <p>Shining a spotlight on the powerful players behind Philadelphia elections.</p>
     </div>
</div>
<div class="row">
     <div class="medium-6 large-4 columns">
          <a href="#list" class="button expand radius">Get Started</a>
     </div>
</div>
<div class="row">
     <div class="small-12 columns intro-detail">
          <p>Had you heard of all the candidates for judge last time you voted? How about City Council at-Large?
          When you voted, a neighbor of yours likely handed you a ballot of candidates endorsed by your
          <span data-tooltip aria-haspopup="true" class="has-tip" title="A roughly neighborhood-sized geographical division of the city">ward</span>.
          If you haven’t heard of the candidates, why not take your neighbor’s advice?</p>

          <p>These endorsements are determined by Ward Leaders, and have a huge influence over who gets elected in
          Philadelphia. As powerful and few as they are (69), ward leaders tend to remain behind the scenes and most
          voters don’t even know who theirs is. This transparency web site aims to bring a level of spotlight to ward
          leaders that is more proportional to the power they wield.</p>

          <footer><img src="img/Code-for-Liberty_grey200.png"> A <a href="http://codeforphilly.org" target="_blank">Code for Philly</a> project</footer>
     </div>
</div>
