<div class="row">
  <div class="small-12 columns">
    <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
      <a href="#">Home</a>
      <a class="current" href="#rules">Party Rules</a>
    </nav>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h1>Party Rules</h1>
    <p>Each party is organized, elected, and managed according to its party's rules.</p>

    <a href="https://drive.google.com/file/d/0B1MaW-4cviLoNWpZWnNjLXcxZU0/view?usp=sharing" target="_blank" class="button"><span class="fa fa-download"></span> Democratic Party Rules</a>

    <a href="#rules" class="button secondary disabled"><span class="fa fa-download"></span> Republican Party Rules</a>

    <p>We don't have the Republican Party Rules. <a href="http://form.jotform.us/form/50926595605160" target="_blank">Do you?</a></p>


    <div class="error-link-bottom">Is this information incorrect? <a href="<%= data.errorLink() %>" target="_blank">Let us know.</a></div>
    <footer><img src="img/Code-for-Liberty_grey200.png"> A <a href="http://codeforphilly.org" target="_blank">Code for Philly</a> project</footer>
  </div>
</div>
