<svg>
  <foreignObject width="100%" height="100%">
    <body>
      <div class="stats">
        <h3><%= data.Name %> <span class="ward-ordinal"><%= data.wardOrdinal %> Ward</span></h3>
        <dl>
          <dt>Voters (<%= data.Party %>)</dt>
          <dd><%= data['Total Registered'].toLocaleString() %></dd>

          <dt>Turnout (<%= data.Party %>)</dt>
          <dd><%= data['partyTurnoutPercentage'] %>%</dd>

          <dt>Vacancies</dt>
          <dd><%= data['vacancies'] %></dd>
        </dl>
        <a href="#<%= data['Ward'] %>/<%= data['slug'] %>" class="button expand">Details</a>
      </div>
    </body>
  </foreignObject>
</svg>
