<svg>
  <foreignObject width="100%" height="200">
    <body>
      <h3><%= data.Name %> <span class="ward-ordinal"><%= data.wardOrdinal %> Ward</span></h3>
      <dl>
        <dt>Voters</dt>
        <dd><%= data['Total Registered'].toLocaleString() %></dd>

        <dt>Turnout</dt>
        <dd><%= data['turnoutPercentage'] %>%</dd>

        <dt>Vacancies</dt>
        <dd><%= data['vacancies'] %></dd>
      </dl>
      <a href="#<%= data['Ward'] %>/<%= data['slug'] %>" class="button expand">Details</a>
    </body>
  </foreignObject>
</svg>
