<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{ "" | absolute_url }}">Philly Ward Leaders</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><a href="{{ "learn" | relative_url }}">Learn</a></li>
      <li><a href="{{ "faq" | relative_url }}">FAQ</a></li>
      <li><a href="{{ "rules" | relative_url }}">Party Rules</a></li>
      <li><a href="{{ "about" | relative_url }}">About</a></li>
      <li><a href="http://form.jotform.us/form/50926595605160" target="_blank" id="feedback-link">Feedback</a></li>
    </ul>
  </section>
</nav>
