<div class="flipper party-<%= data.Party %>">
     <figure class="card front" style="background-image: url('<%= data.avatar %>'); background-position-x: <%= data['Photo Offset X'] || '50%' %>; background-position-y: <%= data['Photo Offset Y'] || '50%' %>;">
          <div class="border"></div>
          <figcaption class="name"><a href="#" data-ward="<%= data.Ward %>"><%= data.Name %></a></figcaption>
          <figcaption class="logo">
               <span class="ward-number"><%= data.wardOrdinal %></span>
               <span class="ward-text">Ward</span>
          </figcaption>
     </figure>
     <figure class="stats back">
          <h3><%= data.Name %> <span class="ward-ordinal"><%= data.wardOrdinal %> Ward</span></h3>
          <dl>
               <dt>Voters</dt>
               <dd><%= data['Total Registered'].toLocaleString() %></dd>

               <dt>Turnout</dt>
               <dd><%= data['turnoutPercentage'] %>%</dd>

               <dt>Vacancies</dt>
               <dd><%= data['vacancies'] %></dd>
          </dl>
          <a href="#<%= data['Ward'] %>/<%= data['slug'] %>" class="button expand">Details</a>
     </figure>
</div>
