<div class="row collapse">
     <div class="medium-12 columns">
          <div class="icon-bar three-up">
               <a href="#" class="item dropdown" data-dropdown="sort-dropdown" aria-controls="sort-dropdown" aria-expanded="false">
                    <i class="fa fa-sort-amount-asc"></i>
                    <label>Sort</label>
               </a>
               <a href="#map" class="item">
                    <i class="fa fa-map-marker"></i>
                    <label>Map</label>
               </a>
               <!--<a href="#" class="item" data-party="<%= data.party === 'D' ? 'R' : 'D' %>">
                    <i class="fa fa-university"></i>
                    <label class="hide-for-small">Show <%= data.party === 'D' ? 'Republicans' : 'Democrats' %></label>
                    <label class="show-for-small"><%= data.party === 'D' ? 'Reps' : 'Dems' %></label>
               </a>-->
               <a href="#" class="item" data-toggle="#search">
                    <i class="fa fa-search"></i>
                    <label>Search</label>
               </a>
          </div>
          <ul id="sort-dropdown" class="f-dropdown" data-dropdown-content aria-hidden="true">
               <li><a href="#" data-sort-key="voters">Sort by # of Voters</a></li>
               <li><a href="#" data-sort-key="turnout">Sort by Turnout %</a></li>
               <li><a href="#" data-sort-key="vacancies">Sort by Vacancies</a></li>
               <li><a href="#" data-sort-key="ward">Sort by Ward #</a></li>
          </ul>
          <form id="search"<%= ! data.searchQuery ? ' class="hide"' : ''%>>
               <div class="row collapse">
                    <% if(data.searchQuery) { %>
                    <div class="small-1 columns">
                         <a href="#" class="button secondary prefix" data-clear><i class="fa fa-times"></i></a>
                    </div>
                    <div class="small-11 columns">
                    <% } else { %>
                    <div class="small-12 columns">
                    <% } %>
                         <input type="text" class="query" value="<%= data.searchQuery %>" placeholder="Search Name or Ward">
                    </div>
               </div>
          </form>
     </div>
</div>
<div class="row">
     <div class="medium-12 columns">
          <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3" id="leaders"></ul>
     </div>
</div>
<footer><img src="img/Code-for-Liberty_grey200.png"> A <a href="http://codeforphilly.org" target="_blank">Code for Philly</a> project</footer>
