<div class="row">
     <div class="small-12 columns">
          <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
               <a href="#">Home</a>
               <a href="#list">Ward Leaders</a>
               <a class="current" href="#<%= data.Ward %>/<%= data.slug %>"><%= data.Name %></a>
          </nav>
     </div>
</div>
<div class="row">
     <div class="medium-12 columns">
          <h3><%= data.Name %> <span class="ward-ordinal"><%= data.wardOrdinal %> Ward <%= data['Sub-Ward'] %></span></h3>

          <div class="row">
               <div class="medium-2 columns">
                    <a class="th radius" role="button" aria-label="Thumbnail" href="<%= data.avatar %>">
                         <img aria-hidden=true src="<%= data.avatar %>"/>
                    </a>
                    <div class="error-link"><a href="<%= data.errorLink('Photo') %>" target="_blank">Have a <%= data.Photo ? 'better ' : '' %> photo?</a></div>
               </div>
               <div class="medium-3 columns">
                    <dl>
                         <dt>Registered Voters</dt>
                         <dd><%= data['Party Registered'].toLocaleString() %> <%= data.partyPlural() %> of <%= data['Total Registered'].toLocaleString() %> total</dd>

                         <dt>Turnout (Last Election)</dt>
                         <dd><%= data['Turnout 2014 General'].toLocaleString() %> (<%= data['turnoutPercentage'] %>%)</dd>

                         <dt><span data-tooltip aria-haspopup="true" class="has-tip" title="How many divisions make up the ward">Divisions</span></dt>
                         <dd><%= data['Divisions'] %></dd>

                         <dt><span data-tooltip aria-haspopup="true" class="has-tip" title="Each division elects 2 committee persons">Committee Persons</span></dt>
                         <dd>
                              <%= data['Committee People'] %> (<%= data['vacancies'] %>
                              <span data-tooltip aria-haspopup="true" class="has-tip" title="Each division elects 2 committee persons">vacancies</span>)
                              <span class="dd-note">Listed below the map</span>
                         </dd>
                    </dl>
               </div>
               <div class="medium-3 columns">
                    <dl>
                         <dt>Address</dt>
                         <dd>
                              <% if(data['Address']) { %>
                              <%= data['Address'] %>
                              <% } else { %>
                              <span class="unknown">Unknown</span>
                              <span class="error-link"><a href="<%= data.errorLink('Address') %>" target="_blank">Know it?</a></span>
                              <% } %>
                         </dd>

                         <dt>Phone</dt>
                         <dd>
                              <% if(data['Phones']) { %>
                              <%= data['Phones'] %>
                              <% } else { %>
                              <span class="unknown">Unknown</span>
                              <span class="error-link"><a href="<%= data.errorLink('Phone') %>" target="_blank">Know it?</a></span>
                              <% } %>
                         </dd>

                         <% if(data['Year of Birth']) { %>
                         <dt>Age</dt>
                         <dd><%= new Date().getFullYear() - data['Year of Birth'] %></dd>
                         <% } %>

                         <dt>Gender</dt>
                         <dd>
                              <% if(data['Gender']) { %>
                              <%= data['Gender'] === 'F' ? 'Female' : data['Gender'] === 'M' ? 'Male' : 'Unknown' %>
                              <% } else { %>
                              <span class="unknown">Unknown</span>
                              <span class="error-link"><a href="<%= data.errorLink('Gender') %>" target="_blank">Know it?</a></span>
                              <% } %>
                         </dd>

                         <% if(data['Last Voted']) { %>
                         <dt>Last Voted</dt>
                         <dd><span data-tooltip aria-haspopup="true" class="has-tip" title="<%= data['Last Voted'] %>"><%= data['lastVotedAgo'] %></span></dd>
                         <% } %>

                         <dt>Occupation</dt>
                         <dd>
                              <% if(data['Occupation']) { %>
                              <%= data['Occupation'] %>
                              <% } else { %>
                              <span class="unknown">Unknown</span>
                              <span class="error-link"><a href="<%= data.errorLink('Occupation') %>" target="_blank">Know it?</a></span>
                              <% } %>
                         </dd>
                    </dl>
               </div>
               <div class="medium-4 columns">
                    <dl>
                         <dt>Email</dt>
                         <dd>
                              <% if(data['Email']) { %>
                              <a href="mailto:<%= data['Email'] %>" target="_blank"><img src="img/email.png" class="contact-icon"></a>
                              <% } else { %>
                              <span class="unknown">Unknown</span>
                              <span class="error-link"><a href="<%= data.errorLink('Email') %>" target="_blank">Know it?</a></span>
                              <% } %>
                         </dd>

                         <dt>Social Media</dt>
                         <dd>
                              <% if(data['LinkedIn']) { %>
                              <a href="<%= data['LinkedIn'] %>" target="_blank"><img src="img/linkedin.png" class="contact-icon"></a>
                              <% } %>

                              <% if(data['Facebook']) { %>
                              <a href="<%= data['Facebook'] %>" target="_blank"><img src="img/facebook.png" class="contact-icon"></a>
                              <% } %>

                              <% if(data['Twitter']) { %>
                              <a href="<%= data['Twitter'] %>" target="_blank"><img src="img/twitter.png" class="contact-icon"></a>
                              <% } %>

                              <div class="error-link"><a href="<%= data.errorLink('Social Media') %>" target="_blank">Know a link?</a></div>
                         </dd>
                    </dl>
                    <a href="#learn" class="button small secondary">Learn More</a>
               </div>
          </div>
          <div class="error-link-bottom">Is this information incorrect? <a href="<%= data.errorLink() %>" target="_blank">Let us know.</a></div>
          <div class="ward-map-container"></div>

          <h2>Committee Persons</h2>
          <div class="committee-persons-container"></div>
     </div>
</div>
<footer><img src="img/Code-for-Liberty_grey200.png"> A <a href="http://codeforphilly.org" target="_blank">Code for Philly</a> project</footer>
