<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Philly Ward Leaders</title>
  <meta name="description" content="Philadelphia’s Ward Leaders have huge influence over who gets elected to public office. As powerful and few as they are, most voters haven’t heard of them. This transparency site aims to bring a level of spotlight to ward leaders that is more proportional to the power they wield.">

  <meta property="og:title" content="Philly Ward Leaders"/>
  <meta property="og:description" content="Philadelphia’s Ward Leaders have huge influence over who gets elected to public office. As powerful and few as they are, most voters haven’t heard of them. This transparency site aims to bring a level of spotlight to ward leaders that is more proportional to the power they wield.">
  <meta property="og:site_name" content="Philly Ward Leaders"/>
  <meta property="og:image" content="http://dev.timwis.com/philly-ward-leaders/img/john-dougherty.png"/>

  <link rel="stylesheet" href="{{ "vendor/foundation.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "vendor/font-awesome.css" | relative_url }}">
  <!--<link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.css">
  <link rel="stylesheet" href="node_modules/Leaflet.GeoSearch/src/css/l.geosearch.css">
  <link rel="stylesheet" href="node_modules/leaflet.locatecontrol/dist/L.Control.Locate.css">
  <link rel="stylesheet" href="node_modules/nprogress/nprogress.css">-->
  <link rel="stylesheet" href="{{ "styles/main.css" | relative_url }}">
  {% for style in layout.styles %}
    {% assign prefix = style | slice: 0, 4 | downcase %}
    {% if prefix == 'http' %}
      {% assign path = style %}
    {% else %}
      {% assign path = style | relative_url %}
    {% endif %}
    <link rel="stylesheet" href="{{ path }}">
  {% endfor %}
</head>

<body>

  {% include analytics.html %}

  {% include nav.html %}

  <div class="container" id="main">
    {{ content }}
  </div>

  {% for script in layout.scripts %}
    {% assign prefix = script | slice: 0, 4 | downcase %}
    {% if prefix == 'http' %}
      {% assign path = script %}
    {% else %}
      {% assign path = script | relative_url %}
    {% endif %}
    <script src="{{ path }}"></script>
  {% endfor %}

</body>
</html>
