---
layout: default
---
{% assign committee_people = site.data.committee_people %}

{{ page.name }}

{% assign party = site.pwl.parties[page.party] %}
{% assign stat = site.data.stats | where: 'ward', page.ward | where: 'party', party.name | first %}

{% assign registered_percent_party = stat.registered_party | times: 100 | divided_by: stat.registered_total | round %}

{% assign turnout_percent_party = stat.turnout_party | times: 100 | divided_by: stat.registered_party | round %}

<h2>Registered Voters</h2>
{{ stat.registered_party }} {{ party.plural }}
of {{ stat.registered_total }} total ({{ registered_percent_party }}%)
